.login-container {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2rem;

}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-form__title {
    margin-bottom: 0;
}


