@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Vollkorn', serif;
}

.registration-form {
    font-size: 1.4em;
}

.registration-form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.registration-form__title  {
    margin: 0;
}

.registration-form__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input:not([type='checkbox']),
select,
button {
    width: 100%;
    border: 0.1em solid rgba(0,0,0,0.2);
    border-radius: 1em;
    padding: 0.4em;
}
