.workspace {
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    font-size: 10px;
}

.workspace__main {
    grid-row: 1 / span 4;
    font-size: 2em;
}

.main__requests-list,
.main__notifications-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    row-gap: 2rem;
}

.main__requests-list li,
.main__notifications-list li {
    border-radius: 15px;
    padding: 0.4em;
    background-color: rgba(0,0,0,0.1);
}

.main__notifications-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__request-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 1rem;
}

.main__user-profile-edit-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0rem 1rem;
}

.user-profile-edit-form__photo-input{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.user-profile-edit-form__photo-input label {
    width: fit-content;
    align-self: center;
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 50%;
    padding: 5%;
}

.user-profile-edit-form__photo-input input {
    display: none;
}

.workspace__footer {
    grid-row: 5;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
}

.footer__nav button {
    justify-self: center;
    width: fit-content;
    padding: 1rem;
    border-radius: 2rem;
}
